@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins&display=swap");

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
/* 
.menu {
  width: calc(100% - 10px); 
  height: calc(95vh - 10px);
  box-sizing: border-box; 
  background-color: #000000;
} */

/* 
.bg-menu {
  position: relative;
  background-color: black;
  border-radius: 30px;
  box-shadow: 0 3px 3px 0 rgb(97, 97, 97);
  padding: 10px;
  overflow: hidden; 
} */
/* 
.bg-menu::before {
  position: absolute;
  top: 0; 
  right: 0; 
  width: 50%; 
  height: 100%;
  background-color: white;
  border-bottom-left-radius: 50%; 
} */

.bg-menu .judul h1 {
  font-size: 43px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  /* color: black; */
}

.bg-menu .judul span {
  color: #4caf4f;
  font-weight: 600;
  font-size: 30px;
}

.bg-menu p,
.container-edukasi p {
  font-size: 15px;
  color: rgb(96, 96, 96);
}

.btn-menu {
  border: none;
  transition: background-color 0.3s ease;
  text-align: center;
}

/* header */
.judul-edukasi h1 {
  font-size: 60px;
  font-weight: 800;
}
.judul-edukasi h1 span {
  font-size: 60px;
  font-weight: 800;
  color: #4caf4f;
}

/* edukasi */
.menuEdukasi {
  width: calc(100% - 10px);
  height: calc(100vh - 10px);
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.container-edukasi .judul .subjudul {
  font-size: 60px;
  font-weight: 800;
  color: #4caf4f;
}

.container-edukasi .judul h1 {
  font-size: 60px;
  font-weight: 800;
  color: rgb(0, 0, 0);
}
.container-edukasi span {
  font-weight: 600;
  font-size: 40px;
  color: #4caf4f;
}

/* kelola sampah */
.timeline {
  position: relative;
  padding: 2rem 0;
}
.timeline-item {
  position: relative;
  margin-bottom: 3rem;
  display: flex;
  align-items: flex-start;
}
.timeline-item.left .timeline-content {
  margin-left: 80px;
}
.timeline-item.right .timeline-content {
  margin-right: 80px;
  text-align: right;
}
.timeline-item.left .timeline-icon {
  left: 0;
}
.timeline-item.right .timeline-icon {
  right: 0;
}
.timeline-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  border-radius: 50%;
  font-size: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.timeline-content {
  border-radius: 10px;
}

/* jenis sampah */
.g-sampah img {
  border-radius: 10px;
}

#jenis-sampah .p-isi {
  font-size: 14px;
  text-align: justify;
}

#jenis-sampah .wadah-jenis {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fdfdfd;
  transition: all 0.3s ease;
}

.img-sampah{
  transition: transform 0.3s;
  border: 2px solid #000000;
}
.img-sampah:hover {
  transform: scale(1.05);
}
